---
interface Props {
    term: string;
    definition: string;
}

const { term, definition } = Astro.props;
---

<span class="tooltip-container group relative inline-block border-b border-dashed border-gray-500 cursor-help">
    {term}
    <span class="tooltip-text invisible group-hover:visible absolute z-50 w-64 bg-white text-black text-xs p-3 rounded shadow-xl -mt-2 ml-2 border border-gray-200">
        <strong>What is {term}?</strong><br/>
        {definition}
    </span>
</span>

<style>
    .tooltip-text {
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 8px;
    }
    .tooltip-text::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #fff transparent transparent transparent;
    }
</style>
