/* Self-hosted fonts via @fontsource */
@import "@fontsource/bebas-neue";
@import "@fontsource/outfit/300.css";
@import "@fontsource/outfit/400.css";
@import "@fontsource/outfit/500.css";
@import "@fontsource/outfit/600.css";
@import "@fontsource/outfit/700.css";
@import "@fontsource/outfit/900.css";
@import "@fontsource/space-mono/400.css";
@import "@fontsource/space-mono/700.css";
